.adventagesSection {
  padding: 50px 0 50px 0;
}

.adventagesList {
  display: flex;
  gap: 20px;
  width: 100%;
}

.adventagesList > * {
  min-width: calc((100% - 60px) / 4);
}

.adventagesContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
