.locationSection {
  padding: 50px 0;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map {
  border-radius: 32px;
  border: 2px solid var(--color-parimary-grey);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  height: 500px;
  width: 100%;
}
