.container {
  padding-bottom: 50px;
}

.title,
.chapterTitle {
  padding: 20px 0;
}

.title {
  text-align: center;
  font-weight: 600;
}

.list {
  list-style-type: square;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: var(--color-primary-blue);
  font-weight: 600;
}

.link:hover {
  cursor: pointer;
}
