.container {
  padding: 5px;
  max-width: 250px;
  background-color: var(--color-parimary-grey);
  border-radius: 10px;
  overflow-y: auto;
  max-height: 500px;
  flex-shrink: 0;
}

.scheduleTitle {
  text-align: center;
}

.sessionContainer {
  padding: 5px;
  background-color: var(--color-secondary-white);
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid var(--color-parimary-grey);
}

.date {
  font-weight: 600;
  color: var(--color-primary-blue);
  text-align: center;
}

.sessionTimeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.sessionTime:hover {
  cursor: pointer;
  color: var(--color-primary-blue);
  font-weight: 600;
}
