:root {
  --color-primary-dark: #0f172a;
  --color-primary-blue: #2563eb;
  --color-parimary-grey: #cbd5e1;
  --color-secondary-white: #ffffff;
  --color-secondary-grey: #e2e8f0;
}

$bp-desktop: 1440px;
