@import "../../styles/_variables.scss";

.header {
  width: 100%;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-secondary-white);
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 70px;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
}

.logo:hover {
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 38px;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--color-secondary-white);
  font-style: normal;
  cursor: pointer;
}

.link:hover {
  color: var(--color-primary-blue);
  transition: color 0.2s;
}
