.container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
}

.extraQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
